<html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<style>
		body {
		   background-color: aqua;	
			
			
		}
	.grid-button {
		display:grid;
		grid-template-columns: auto auto auto auto auto auto;
		
		
	}
	.grid-button button {
		padding: 10px 24px;
		color: white;
		
	}
	.linus {
		background-color: green;
		
	}
	
	.torvalds {
		background-color: red;
	}
	.servo-one button{
		background-color: blue;
		padding: 10px 24px;
		color: white;
		
	}
	.servo-two button {
		background-color:magenta;
		padding: 10px 24px;
		color: white;
	}
	.pwm-one button{
		background-color: orange;
		padding: 10px 24px; 
		color: white;
		
	}
	.pwm-two button {
		background-color: purple;
		padding: 10px 24px;
		color: white;
	}
</style>
</head>
<body>
	<h1>Dual Robot Control</h1>
<h2> Dual Robot Dpads</h2>

<div class="grid-button">
<button> None</button>
<button class="linus" id="up"> ^</button>
<button> None</button>
<button>None</button>
<button class="torvalds" id="forward">^</button>
<button>None</button>
<button class="linus" id="west"><</button>
<button class="linus" id="linus"> Blink</button>
<button class="linus" id="east"> > </button>
<button class="torvalds" id="left"> < </button>
<button class="torvalds" id="torvalds"> Blink</button>
<button class="torvalds" id="right">></button>
<button>None</button>
<button class="linus" id="down">v</button>
<button>None</button>
<button>None</button>
<button class="torvalds" id="backward">v</button>
<button>None</button>
</div>

<h2>Servo One</h2>
<div class="servo-one">
<button id="minus-90">-90</button>
<button id="minus-45">-45</button>
<button id="zero">0</button>
<button id="positive-45">45</button>
<button id="positive-90">90</button>
</div>

<h2>Servo Two </h2>
<div class="servo-two">
<button id="minus-902">-90</button>
<button id="minus-452">-45</button>
<button id="zero2">0</button>
<button id="positive-452">45</button>
<button id="positive-902">90</button>
</div>

<h2>PWM One</h2>
<div class="pwm-one">
<button id="thirty">30%</button>
<button id="fifty">50%</button>
<button id="full">100%</button>
</div>

<h2>PWM Two</h2>
<div class="pwm-two">
<button id="thirty2">30%</button>
<button id="fifty-2">50%</button>
<button id="full-2">100%</button>

</div>
<script>
	// Torvalds eye and movement
$('#forward').on('touchstart', function(){
	$.get('/torvaldsLeft');
	});
$('#forward').on('touchend', function(){
	$.get('/stop');
	});
$('#backward').on('touchstart, function(){
	$.get('/torvaldsRight');
	});
$('#backward').on('touchend', function(){
	$.get('/stop');
	});
$('#left').on('touchstart', function(){
	$.get('/torvaldsForward');
	});
$('#left').on('touchend', function(){
	$.get('/stop');
	});
$('#right').on('touchstart', function(){
	$.get('/torvaldsBackward');
	});
$('#right').on('touchend', function(){
	$.get('/stop');
	});
$('#torvalds').on('touchstart', function(){
	$.get('/torvaldson');
	});
$('#torvalds').on('touchend', function(){
	$.get('/torvaldsoff');
	});
	
// Linus eye and movement

$('#linus').on('touchstart', function(){
	$.get('/eyeon');
	});
$('#linus').on('touchend', function(){
	$.get('/eyeoff');
	});
$('#up').on('touchstart', function(){
	$.get('/directionone');
	});
$('#up').on('mouseup', function(){
	$.get('/stoptwo');
	});
$('#down').on('touchstart', function(){
	$.get('/directiontwo');
	});
$('#down').on('touchend', function(){
	$.get('/stoptwo');
	});
$('#west').on('touchstart', function(){
	$.get('/directionfour');
	});
$('#west').on('touchend', function(){
	$.get('/stoptwo');
	});
$('#east').on('touchstart', function(){
	$.get('/directionthree');
	});
$('#east').on('touchend', function(){
	$.get('/stoptwo');
    });

// Servo one
$('#minus-90').on('touchstart', function(){
	$.get('/minus90');
	});
$('#minus-45').on('touchstart', function(){
	$.get('/minus45');
	});
$('#zero').on('touchstart', function(){
	$.get('/zero');
	});
$('#positive-45').on('touchstart', function(){
	$.get('/positive45');
	});
$('#positive-90').on('touchstart', function(){
	$.get('/positive90');
	});
	
// Servo two

$('#minus-902').on('touchstart', function(){
	$.get('/minus902');
	});
$('#minus-452').on('touchstart', function(){
	$.get('/minus452');
	});
$('#zero2').on('touchstart', function(){
	$.get('/zero2');
	});
$('#positive-452').on('touchstart', function(){
	$.get('/positive452');
	});
$('#positive-902').on('touchstart', function(){
	$.get('/positive902');
	});
// PWM One

$('#thirty').on('touchstart', function(){
	$.get('/pwmThirty');
	});
$('#fifty').on('touchstart', function(){
	$.get('/pwmFifty');
	});
$('#full').on('touchstart', function(){
	$.get('/pwmFull');
	});
// PWM two
$('#thirty-2').on('touchstart', function(){
	$.get('/pwmThirty2');
	});
$('#fifty-2').on('touchstart', function(){
	$.get('/pwmFifty2');
	});
$('#full-2').on('touchstart', function(){
	$.get('/pwmFull2');
	});




</script>




</body>
</html>
